*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(250, 249, 246);
  
  }


#nav {
    color: black;
    width: 100%;
    padding: 1em;
    text-align: right;
    
    ul {

        margin: 0;
        padding: 0;
        list-style: none;
        display: inline-block;


    }

    ul li {

        display: inline-block;
    }

    ul li a {

        color: rgb(20, 20, 20);

    }

}


@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Medium.ttf);
    font-weight: 500;
}

header {
    font-family: "Roboto";
    font-weight: 500;

}

